{% extends 'admin/_admin_base.html' %}

{% block adminContent %}
    <legend>评论列表</legend>
    <table class="table table-hover">
        <thead class="table-cell">
        <tr>
            <th scope="col">序号</th>
            <th scope="col">用户名</th>
            <th scope="col">评论内容</th>
            <th scope="col">日期</th>
            <th scope="col">操作</th>
        </tr>
        </thead>
        <tbody class="table-cell">
        {% if comments %}
            {% for comment in comments %}
                <tr {% if (loop.index % 2 == 1) %}class="table-active" {% endif %}>
                    <th scope="row">{{ loop.index }}</th>
                    <td style="max-width: 300px"><a
                            href="{{ url_for('blog.show_post', post_id=comment.post_id) }}">{{ comment.post.title }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ moment(comment.timestamp).format('LLL') }}</td>
                    <td class="table-deal">
                        <div class="justify-content-between">
                            <form class="inline" method="post"
                                  action="{{ url_for('admin.approve_comment', comment_id=comment.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                {% if comment.reviewed %}
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        发布
                                    </button>
                                {% else %}
                                    <button type="submit" class="btn btn-danger btn-sm">
                                        未发布
                                    </button>
                                {% endif %}
                            </form>
                            <!-- 利用form 提交post请求 -->
                            <form class="inline" method="post"
                                  action="{{ url_for('admin.delete_comment', comment_id=comment.id) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="btn btn-primary btn-sm"
                                        onclick="return confirm('是否确认删除？')">删除
                                </button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
    </table>
{% endblock %}
