<!-- 文章缩写框 -->
{% if current_user.is_authenticated %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true"
       aria-expanded="false">新增</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">文章</a>
        <a class="dropdown-item" href="#">分类</a>
        <a class="dropdown-item" href="#">Link</a>
    </div>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
       aria-haspopup="true"
       aria-expanded="false">管理</a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#">文章</a>
        <a class="dropdown-item" href="#">分类</a>
        <a class="dropdown-item" href="#">评论</a>
        <a class="dropdown-item" href="#">Link</a>
    </div>
</li>
{% endif %}

