{% from 'bootstrap/nav.html'  import render_nav_item %}
{% block extensionNav %}
{#    {{ render_nav_item('visual.index', 'Visual') }}#}
    {{ render_nav_item('task.index', 'TASKS') }}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
           aria-haspopup="true"
           aria-expanded="false">Themes</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="{{ url_for('blog.change_theme', theme_name='Lux') }}">Lux</a>
            <a class="dropdown-item" href="{{ url_for('blog.change_theme', theme_name='Sketchy') }}">Sketchy</a>
            <a class="dropdown-item" href="{{ url_for('blog.change_theme', theme_name='Litera') }}">Litera</a>
            <a class="dropdown-item" href="{{ url_for('blog.change_theme', theme_name='Sandstone') }}">Sandstone</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('blog.change_codeStyle', code_style='agate') }}">agate</a>
            <a class="dropdown-item" href="{{ url_for('blog.change_codeStyle', code_style='dark') }}">dark</a>
            <a class="dropdown-item" href="{{ url_for('blog.change_codeStyle', code_style='zenburn') }}">zenburn</a>

        </div>
    </li>
{% endblock %}