{% extends 'base.html' %}

{% block title %}Visual{% endblock %}

{% block mainBody %}
    <div class="col-md-12">
        <h5>可视化案例</h5>
        <hr/>
    </div>
    <div id='visual-body' class="container col-md-12 row">
        <!-- 左侧导航栏 -->
        <div class="col-md-2 visual-left-part">
            <div class="alert alert-success">
                <strong>Three.js</strong><br>
                <a href="#" class="alert-link">3D 可视化地球</a>
            </div>
            <div class="alert alert-warning">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">3D 疫情可视化</a>
            </div>
            <div class="alert alert-info">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">区域数据轮播图</a>
            </div>
            <div class="alert alert-success">
                <strong>Three.js</strong><br>
                <a href="#" class="alert-link">3D 可视化地球</a>
            </div>
            <div class="alert alert-warning">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">3D 疫情可视化</a>
            </div>
            <div class="alert alert-info">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">区域数据轮播图</a>
            </div>
            <div class="alert alert-success">
                <strong>Three.js</strong><br>
                <a href="#" class="alert-link">3D 可视化地球</a>
            </div>
            <div class="alert alert-warning">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">3D 疫情可视化</a>
            </div>
            <div class="alert alert-info">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">区域数据轮播图</a>
            </div>
            <div class="alert alert-success">
                <strong>Three.js</strong><br>
                <a href="#" class="alert-link">3D 可视化地球</a>
            </div>
            <div class="alert alert-warning">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">3D 疫情可视化</a>
            </div>
            <div class="alert alert-info">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">区域数据轮播图</a>
            </div>
            <div class="alert alert-success">
                <strong>Three.js</strong><br>
                <a href="#" class="alert-link">3D 可视化地球</a>
            </div>
            <div class="alert alert-warning">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">3D 疫情可视化</a>
            </div>
            <div class="alert alert-info">
                <strong>Echarts</strong><br>
                <a href="#" class="alert-link">区域数据轮播图</a>
            </div>
        </div>
        <!-- 右侧展示区 -->
        <div class="col-md-10  visual-right-part" style="background-color: rgba(240,240,240,0);">
            <div id='visual-chart' >1566632</div>

        </div>
    </div>
    <!-- 页脚 -->
    {#    <div class="col-md-12" style="margin-bottom: 30px">#}
    {#        {% include 'blog/_footer.html' %}#}
    {#    </div>#}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        let screenHeight = window.innerHeight;
        let screenHeight2 = document.body.scrollHeight;
        console.log(screenHeight, screenHeight2)


        let targetBody = document.getElementById('visual-body')
        let visualPartHeight = screenHeight - 180;
        console.log('visualPartHeight', visualPartHeight)
        targetBody.setAttribute('style', 'max-height: ' + visualPartHeight + 'px;')
    </script>
{% endblock %}

