{% extends 'base.html' %}

{% block title %}Visual{% endblock %}
{% block mainBody %}
    <div class="col-md-12">
        <h5>可视化案例</h5>
        <hr/>
    </div>
    <div id='visual-body' class="container col-md-12 row">
        <!-- 左侧导航栏 -->
        <div class="col-md-2 visual-left-part">
            {% for chart, chart_type in chartList.items() %}
                {% if loop.index % 3 == 1 %}
                    <div class="alert alert-success">
                        <strong>{{ chart_type }}</strong><br>
                        <a href="{{ url_for('visual.show_chart', chart_name=chart) }}"
                           class="alert-link">{{ chart }}</a>
                    </div>
                {% elif loop.index % 3 == 2 %}
                    <div class="alert alert-warning">
                        <strong>{{ chart_type }}</strong><br>
                        <a href="{{ url_for('visual.show_chart', chart_name=chart) }}"
                           class="alert-link">{{ chart }}</a>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <strong>{{ chart_type }}</strong><br>
                        <a href="{{ url_for('visual.show_chart', chart_name=chart) }}"
                           class="alert-link">{{ chart }}</a>
                    </div>
                {% endif %}

            {% endfor %}

        </div>
        <!-- 右侧展示区 -->
        <div class="col-md-10  visual-right-part" style="background-color: rgba(240,240,240,0);">
            <div id='visual-chart'>
                <iframe style="width:100%;height:100%;" scrolling="no" frameborder="0"
                        src=""></iframe>

            </div>

        </div>
    </div>
    <!-- 页脚 -->
    {#    <div class="col-md-12" style="margin-bottom: 30px">#}
    {#        {% include 'blog/_footer.html' %}#}
    {#    </div>#}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        let screenHeight = window.innerHeight;
        let screenHeight2 = document.body.scrollHeight;
        console.log(screenHeight, screenHeight2)


        let targetBody = document.getElementById('visual-body')
        let visualPartHeight = screenHeight - 180;
        console.log('visualPartHeight', visualPartHeight)
        targetBody.setAttribute('style', 'max-height: ' + visualPartHeight + 'px;')
    </script>
    <script src='{{ url_for('static', filename='earthChartJs/three.js') }}'></script>
    <script src='{{ url_for('static', filename='earthChartJs/TransformControls.js') }}'></script>
    <script src='{{ url_for('static', filename='earthChartJs/example.js') }}'></script>
{% endblock %}

