<!-- 文章缩写框 -->
<div id="comments" style="margin-bottom: 1rem">
    {% if comments %}
        <!-- 评论数量 -->
        <!-- todo 这里使用了 post, page_params ,但没有判断， 这两个整个页面内的 -->
        <h4>{{ comments|length }}条评论 <a
                href="{{ url_for('blog.show_post', post_id=post.id, page=page_params.total_pages or 1 ) }}">
            <small class="text-secondary">最新评论</small>
        </a></h4>
        <!-- 评论 -->
        <div class="card">
            <ul class="list-group list-group-flush ">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <!-- 用户名称+评论时间 -->
                        <div class="d-flex justify-content-between align-items-center">
                            {{ comment.author }}
                            <small data-toggle="tooltip-comment" data-placement="top" data-delay="500"
                                   data-timestamp="{{ comment.timestamp.strftime('%Y-%m-%dT%H:%M:%SZ') }}">
                                {{ moment(comment.timestamp).fromNow() }}
                            </small>
                        </div>
                        {% if comment.replied %}
                            <!-- 判断评论是否是回复别人的 -->
                            <p class="alert alert-dismissible alert-dark reply-body">{{ comment.replied.author }}:
                                <br>{{ comment.replied.body }}！！
                            </p>
                        {% endif %}
                        <p class="lead" style="padding: 14px 0; margin-bottom: 0px">{{ comment.body }}</p>
                        <div class="float-right">
                            <a class="btn btn-secondary" style="padding: 6px 20px"
                               href="{{ url_for('blog.reply_comment', comment_id=comment.id) }}">回复</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <h4>评论区：空空如也</h4>
    {% endif %}
</div>


