{% if posts %}
    {% for post in posts %}
        <!-- 文章缩写框 -->
        <div class="card text-white bg-dark mb-3" style="width: 100%">
            <div class="card-body">
                <a href="{{ url_for('blog.show_post', post_id=post.id) }}"><h4 class="card-title"
                                                                               style="color: white">{{ post.title }}</h4>
                </a>
                <p class="card-text" style="color: #919aa1 !important">{{ post.body|striptags|truncate }}</p>
                <div style="display: flex;justify-content: space-between" class="text-right">
                    <span>
                        <a href="{{ url_for('.show_category', category_id=post.category.id) }}"><span class="badge badge-success "
                                style="font-weight: normal">{{ post.category.name }}</span></a>
                        {% if post.category.isSubject %}
                            <a href="#"><span class="badge badge-warning"
                                              style="font-weight: normal;">专题文章</span></a>
                        {% endif %}

                    </span>
                    <span>
                        <span class="badge badge-light"
                              style="color: #919aa1 !important; background-color: transparent">{{ moment(post.timestamp).format('LL') }}</span>
                    </span>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h5>空空如也...</h5>
{% endif %}

