{% extends 'blog/index.html' %}
{% block title %}category{% endblock title %}


{% block recommendOrCategory %}
    <!-- 当前所处类别 -->
    <h1 class="display-5">分类：{{ category.name }}</h1>
    <hr class="my-3">
{% endblock %}


{#{% block mainBody %}#}
{#    <div class="container col-md-8">#}
{#        <div style="display: flex; align-items: flex-start">#}
{#            <div class="col-md-9">#}
{#                <!-- 当前所处类别 -->#}
{#                <h1 class="display-5">分类：{{ category.name }}</h1>#}
{#                <hr class="my-3">#}
{#                <!-- 文章缩写框 -->#}
{#                {% include "blog/_post.html" %}#}
{#                <!-- 页码 -->#}
{#                {% include "_page.html" %}#}
{#            </div>#}
{#            <!-- 右侧内容框 -->#}
{#            {% include "blog/_sidebar.html" %}#}
{#        </div>#}
{#    </div>#}
{#    <!-- 返回顶部 -->#}
{#    <div style="position: fixed; right: 30px; bottom: 10vh">#}
{#        <span class="float-lg-right"><a href="#top">Back to top</a></span>#}
{#    </div>#}
{#    <!-- 页脚 -->#}
{#    <div class="container col-md-8">#}
{#        {% include 'blog/_footer.html' %}#}
{#    </div>#}
{#{% endblock mainBody %}#}