{% extends 'base.html' %}
{% block title %}Home{% endblock title %}


{% block mainBody %}
    <div class="container col-md-8">
        <div style="display: flex; align-items: flex-start">
            <div class="col-md-9">
                <!-- 错误消息提示 -->
                {% include '_errorInfo.html' %}
                {% block recommendOrCategory %}
                    <!-- 推荐文章，横向轮播图 -->
                    {% include "blog/_recommend.html" %}
                {% endblock %}

                {% block rightBody %}
                    <!-- 文章缩写框 -->
                    {% include "blog/_list.html" %}
                    <!-- 页码 -->
                    {% include "_page.html" %}
                {% endblock %}
            </div>
            <!-- 右侧内容框 -->
            {% include "blog/_sidebar.html" %}
        </div>
    </div>
    <!-- 返回顶部 -->
    {% include "_backToTop.html" %}
    <!-- 页脚 -->
    <div class="container col-md-8">
        {% include 'blog/_footer.html' %}
    </div>
{% endblock mainBody %}