{% extends 'blog/index.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% block title %}Home{% endblock title %}

{% block recommendOrCategory %}
    <!-- 取消推荐文章导航  -->
{% endblock %}

{% block rightBody %}
    <!-- 文章详情页面 -->
    <div class="jumbotron" style="padding: 1.8rem 1rem;">
        <h1 class="display-5">{{ post.title }}</h1>
        <p class="lead">分类：{{ post.category.name }} ；
            发布时间：{{ post.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
        <hr class="my-3">
        <p>{{ post.body }}</p>
        <hr class="my-3">
        <!-- 右侧内容框 -->
        <div style="margin-bottom: 1rem">
            <!-- 分享按钮 -->
            <button type="button" class="btn btn-primary btn-sm" title="" data-container="body"
                    data-toggle="popover"
                    data-placement="right"
                    data-content="{{ url_for('blog.show_post', post_id=post.id, _external=True) }}"
                    data-original-title="" aria-describedby="popover157663">分享
            </button>
        </div>
        <!-- 评论模块 -->
        {% include 'blog/_comment.html' %}
        <!-- 页码 -->
        {% include "_page.html" %}
    </div>
    <!-- 评论对象提示 -->
    {% if request.args.get('reply') %}
        {% if request.args.get('author') %}
            <div class="alert alert-dismissible alert-warning" style="padding: 0.75rem 1rem">
                <h4 class="alert-heading" style="margin-bottom: 0">回复 <strong>{{ request.args.get('author') }}:</strong>
                </h4>
                <a href="{{ url_for('.show_post', post_id=post.id) }}" type="button" class="close" data-dismiss="alert">&times;</a>
            </div>
        {% endif %}
    {% endif %}

    <!-- 评论的表单 -->
    {% if post.can_comment %}
        <div id="comment-form">
            {{ render_form(form, action=request.full_path) }}
        </div>
    {% else %}
        <div class="tip"><h5>该文章没有开启评论功能.</h5></div>
    {% endif %}
{% endblock %}
