{% extends 'base.html' %}

{% block title %}Tasks{% endblock %}

{% block mainBody %}
    <div id="task-body" class="container col-md-8" style="background-color: rgba(0,0,0,0.11)">
        {% if links %}
            {% for link in links %}
                {% if link.timestamp %}
                    <div class="float-left row" style="width: 100%">
                        <div class="card text-white bg-dark mb-3" style="padding: 0.5rem">
                            <p class="align-items-md-center"
                               style="padding: 0; margin: 0">{{ moment(link.timestamp).format('Y-M-D') }}</p>
                        </div>
                        <div class="card text-dark bg-white mb-3" style="padding: 0.5rem">
                            <p class="text-primary" style="padding: 0; margin: 0">{{ link.name }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- 返回顶部 -->
    {% include "_backToTop.html" %}
    <!-- 页脚 -->
    <div class="container col-md-8">
        {% include 'task/_footer.html' %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        let screenHeight = window.innerHeight;
        let targetBody = document.getElementById('task-body')
        let visualPartHeight = screenHeight - 101;
        targetBody.setAttribute('style', 'min-height: ' + visualPartHeight + 'px;')
    </script>
{% endblock %}