{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block mainBody %}
    <div class="container col-md-8">
        {% if links %}
            {% for link in links %}
                {% if link.timestamp %}
                    <div class="float-left row" style="width: 100%">
                        <div class="card text-white bg-dark mb-3" style="padding: 0.5rem">
                            <p class="align-items-md-center"
                               style="padding: 0; margin: 0">{{ moment(link.timestamp).format('Y-M-D') }}</p>
                        </div>
                        <div class="card text-dark bg-white mb-3" style="padding: 0.5rem">
                            <p class="text-primary" style="padding: 0; margin: 0">{{ link.name }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <!-- 返回顶部 -->
    <div style="position: fixed; right: 30px; bottom: 10vh">
        <span class="float-lg-right"><a href="#top">Back to top</a></span>
    </div>
    <!-- 页脚 -->
    <div class="container col-md-8">
        {% include 'task/_footer.html' %}
    </div>
{% endblock %}

